<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Untitled</title>
</head>
<nav class='blue'>
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Django Site</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Link 1</a></li>
                <li><a href="badges.html">Link 2</a></li>
                <li><a href="collapsible.html">Link 3</a></li>
            </ul>
        </div>
    </div>
</nav>

<body>
    {% block content %}
    {% endblock content %}
</body>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>
